@import "tailwindcss";

@theme {
	--font-sans:
		"Chivo", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-mono: "Chivo Mono", sans-serif;
	--color-white: #c2ccff;
}

.gradient-window-bar-blue {
	background: linear-gradient(to bottom, #161b3f, #1e3293);
}

.gradient-mail-icon {
	background: linear-gradient(#e3f0ff, #4170ff);
}

.gradient-white {
	background: linear-gradient(#eef0ff, #c2ccff);
}

.radial-bg {
	background: radial-gradient(#3a54cf, #0a124d);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #161b3f;
}

a,
a:hover,
a:visited,
a:active {
	color: #002eff;
}
